
    * {
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
    }

    body {
      margin: 0;
      padding: 0;
      background: linear-gradient(135deg, #2c3e50 40%, #34495e 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .container {
      display: flex;
      flex-direction: row;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      padding: 40px;
      max-width: 900px;
      width: 90%;
      gap: 40px;
    }

    .form-box {
      width: 100%;
      max-width: 350px;
    }

    .form-box h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 8px;
    }

    .form-box p {
      text-align: center;
      font-size: 12px;
      color: #555;
      margin-bottom: 20px;
    }

    form input {
      width: 100%;
      padding: 10px;
      margin-bottom: 12px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    form button {
      width: 100%;
      padding: 10px;
      background-color: #3e3a80;
      color: white;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }

    .image-box {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .image-box img {
      width: 120px;
      height: auto;
      margin-bottom: 20px;
    }

    .hourly-label {
      background-color: #b3a8a8;
      padding: 15px;
      font-weight: bold;
      font-size: 20px;
      border-radius: 10px;
    }
    input.valid {
  border: 2px solid rgb(12, 242, 12) !important;
}

input.invalid {
  border: 2px solid red !important;
}

    /* 🔹 Responsive Styling */
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        padding: 20px;
        height: auto;
      }

      body {
        height: auto;
        padding: 20px;
      }

      .form-box {
        max-width: 100%;
      }

      .image-box {
        margin-top: 30px;
      }
    }

    .image-box img {
      width: 50%;
      height: 80%;
      display: block;
      border-radius: 3%;
    }

    .google-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-weight: bold;
      margin-bottom: 20px;
      cursor: pointer;
      gap: 10px;
    }

    .google-btn img {
      width: 20px;
      height: 20px;
    }
    .error-message{
      color: red;
      font-size: 0.75rem;
      display: none;
    }
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loader-overlay {
    position: fixed;
    inset: 0;
    background: rgba(102, 99, 99, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.hidden {
    display: none;
}

.loader {
    text-align: center;
}

.text{
    font-size: 42px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  background: linear-gradient(
    90deg,
    #000000 40%,
    #f5c16c 50%,
    #000000 75%
  );
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer{
      0% {
    background-position: 200% center;
  }
    100% {
    background-position: -200% center;
  }
}